/* .sorting .dropdown-toggle {
  display: inline-block !important;
  visibility: visible !important;
}

.sorting .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
} */
