.productsTitle {
  display: flex;
  justify-content: space-around;
}
.sort-menu {
  display: flex;
  width: 150px;
  flex-direction: column;
}

.sortBtn {
  border: 1px solid black;
}

.products_row {
  display: flex;
  flex-wrap: wrap;
}
