.brand {
  display: grid;
  align-items: center;
  justify-content: center;
  cursor: pointer;
}

/* src/components/Products.css */
.sorting .dropdown-toggle {
  display: inline-block !important;
  visibility: visible !important;
}

.sorting .dropdown-toggle:focus {
  outline: none !important;
  box-shadow: none !important;
}
